<div *ngIf="feature" #addressDetail class="address-details-container">
  <h3>{{feature.attributes.ADDRESS}}</h3>
  <div class="map-container">
    <app-map-view
      [webMapPortalId]="'464d489525914296a95fb476251e416e'"
      [showSearch]="false"
      [showLayerList]="false"
      [feature]="feature"
      [showCenterMarker]="true"
      [zoom]="15">
    </app-map-view>
  </div>
  <div class="address-attribute-list-container">
    <ul>
      <li>Address: {{feature.attributes.ADDRESS}}</li>
      <li>Type: {{feature.attributes.ADDRESS_TYPE}}</li>
      <li>Number: {{feature.attributes.ADNO}}</li>
      <li>House Number: {{feature.attributes.ADRHSNO}}</li>
      <li>House Number Suffix: {{feature.attributes.ADRHSNOSFX}}</li>
      <li>UID: {{feature.attributes.ADRUID}}</li>
      <li>Elevation: {{feature.attributes.ADR_ELEVATION}}</li>
      <li>Latitude: {{feature.attributes.ADR_LATITUDE}}</li>
      <li>Longitude: {{feature.attributes.ADR_LONGITUDE}}</li>
      <li>x: {{feature.attributes.ADR_X}}</li>
      <li>xy Metadata: {{feature.attributes.ADR_XY_META}}</li>
      <li>xy Metadata Description: {{feature.attributes.ADR_XY_META_DESCRIPTION}}</li>
      <li>y: {{feature.attributes.ADR_Y}}</li>
      <li>BLUID: {{feature.attributes.BLUID}}</li>
      <li>BPUID: {{feature.attributes.BPUID}}</li>
      <li>Municipality: {{feature.attributes.CITY_MUNICIPAL}}</li>
      <li>Postal City: {{feature.attributes.CITY_POSTAL}}</li>
      <li>City Precinct: {{feature.attributes.CITY_PRECINCT}}</li>
      <li>City Ward: {{feature.attributes.CITY_WARD}}</li>
      <li>Commissioner District: {{feature.attributes.COMMISSIONER_DISTRICT}}</li>
      <li>Commissioner Living in District: {{feature.attributes.COMMISSIONER_LIVING_IN_DIST}}</li>
      <li>County Precinct: {{feature.attributes.COUNTY_PRECINCT}}</li>
      <li>Date Added: {{feature.attributes.DATE_ADD}}</li>
      <li>Date Modified: {{feature.attributes.DATE_MOD}}</li>
      <li>US House District: {{feature.attributes.FEDERAL_HOUSE_DISTRICT}}</li>
      <li>US House Representative: {{feature.attributes.FEDERAL_HOUSE_REPRESENTATIVE}}</li>
      <li>ObjectID: {{feature.attributes.OBJECTID}}</li>
      <li>Priority PIN: {{feature.attributes.PRIORITY_PIN}}</li>
      <li>RSN: {{feature.attributes.RSN}}</li>
      <li>RTD: {{feature.attributes.RTD}}</li>
      <li>SJLID: {{feature.attributes.SJLID}}</li>
      <li>SPLIT: {{feature.attributes.SPLIT}}</li>
      <li>State House District: {{feature.attributes.STATE_HOUSE_DISTRICT}}</li>
      <li>State House Representative: {{feature.attributes.STATE_HOUSE_REPRESENTATIVE}}</li>
      <li>State Senate District: {{feature.attributes.STATE_SENATE_DISTRICT}}</li>
      <li>State Senator: {{feature.attributes.STATE_SENATOR}}</li>
      <li>Street Direction Prefix: {{feature.attributes.STREET_DIRECTION_PREFIX}}</li>
      <li>Street Direction Suffix: {{feature.attributes.STREET_DIRECTION_SUFFIX}}</li>
      <li>Street Name: {{feature.attributes.STREET_NAME}}</li>
      <li>Street Type: {{feature.attributes.STREET_TYPE}}</li>
      <li>SUBADRUID: {{feature.attributes.SUBADRUID}}</li>
      <li>SUBADRUNIT: {{feature.attributes.SUBADRUNIT}}</li>
      <li>TIFA: {{feature.attributes.TIFA}}</li>
      <li>ZIP: {{feature.attributes.ZIP}}</li>
    </ul>
  </div>
</div>
