label
  font-family: 'Roboto', sans-serif
  font-weight: 700

input
  font-family: 'Open Sans', sans-serif
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0
