<div class="container">
  <div #mapViewContainer class="map-view-container"></div>
  <div *ngIf="address" #addressInformation class="address-information-container">
    <h3>Adresss Information</h3>
    <div>Address: {{address.ADDRESS}}</div>
    <div>Type: {{address.ADDRESS_TYPE}}</div>
    <div>Number: {{address.ADNO}}</div>
    <div>House Number: {{address.ADRHSNO}}</div>
    <div>House Number Suffix: {{address.ADRHSNOSFX}}</div>
    <div>UID: {{address.ADRUID}}</div>
    <div>Elevation: {{address.ADR_ELEVATION}}</div>
    <div>Latitude: {{address.ADR_LATITUDE}}</div>
    <div>Longitude: {{address.ADR_LONGITUDE}}</div>
    <div>x: {{address.ADR_X}}</div>
    <div>xy Metadata: {{address.ADR_XY_META}}</div>
    <div>xy Metadata Description: {{address.ADR_XY_META_DESCRIPTION}}</div>
    <div>y: {{address.ADR_Y}}</div>
    <div>BLUID: {{address.BLUID}}</div>
    <div>BPUID: {{address.BPUID}}</div>
    <div>Municipality: {{address.CITY_MUNICIPAL}}</div>
    <div>Postal City: {{address.CITY_POSTAL}}</div>
    <div>City Precinct: {{address.CITY_PRECINCT}}</div>
    <div>City Ward: {{address.CITY_WARD}}</div>
    <div>Commissioner District: {{address.COMMISSIONER_DISTRICT}}</div>
    <div>Commissioner Living in District: {{address.COMMISSIONER_LIVING_IN_DIST}}</div>
    <div>County Precinct: {{address.COUNTY_PRECINCT}}</div>
    <div>Date Added: {{address.DATE_ADD}}</div>
    <div>Date Modified: {{address.DATE_MOD}}</div>
    <div>US House District: {{address.FEDERAL_HOUSE_DISTRICT}}</div>
    <div>US House Representative: {{address.FEDERAL_HOUSE_REPRESENTATIVE}}</div>
    <div>ObjectID: {{address.OBJECTID}}</div>
    <div>Priority PIN: {{address.PRIORITY_PIN}}</div>
    <div>RSN: {{address.RSN}}</div>
    <div>RTD: {{address.RTD}}</div>
    <div>SJLID: {{address.SJLID}}</div>
    <div>SPLIT: {{address.SPLIT}}</div>
    <div>State House District: {{address.STATE_HOUSE_DISTRICT}}</div>
    <div>State House Representative: {{address.STATE_HOUSE_REPRESENTATIVE}}</div>
    <div>State Senate District: {{address.STATE_SENATE_DISTRICT}}</div>
    <div>State Senator: {{address.STATE_SENATOR}}</div>
    <div>Street Direction Prefix: {{address.STREET_DIRECTION_PREFIX}}</div>
    <div>Street Direction Suffix: {{address.STREET_DIRECTION_SUFFIX}}</div>
    <div>Street Name: {{address.STREET_NAME}}</div>
    <div>Street Type: {{address.STREET_TYPE}}</div>
    <div>SUBADRUID: {{address.SUBADRUID}}</div>
    <div>SUBADRUNIT: {{address.SUBADRUNIT}}</div>
    <div>TIFA: {{address.TIFA}}</div>
    <div>ZIP: {{address.ZIP}}</div>
  </div>
</div>

