<div class="container">
  <div class="address-container">
    <h4>Address</h4>
    <div class="address">
      <div>{{address.attributes.ADDRESS}}</div>
      <div>{{address.attributes.CITY_POSTAL}}, CO {{address.attributes.ZIP}}</div>
    </div>
    <div class="type">
      {{address.attributes.ADDRESS_TYPE}}
    </div>
  </div>
  <div class="elections">
    <div class="municipal">
      <h4>Municipal Elections</h4>
      <div>Municipality: {{address.attributes.CITY_MUNICIPAL}}</div>
      <div *ngIf="address.attributes.CITY_MUNICIPAL != 'UNINCORPORATED'">
        <div *ngIf="address.attributes.CITY_PRECINCT != '00'">City Precinct: {{address.attributes.CITY_PRECINCT}}</div>
        <div *ngIf="address.attributes.CITY_WARD != '00'">City Ward: {{address.attributes.CITY_WARD}}</div>
      </div>
    </div>
    <div class="county">
      <h4>County Elections</h4>
      <div>County Precinct: {{address.attributes.COUNTY_PRECINCT}}</div>
      <div>County Commissioner (District {{address.attributes.COMMISSIONER_DISTRICT}}):
        {{address.attributes.COMMISSIONER_LIVING_IN_DIST}}
      </div>
    </div>
    <div class="state">
      <h4>State Elections</h4>
      <div>State House Representative (District {{address.attributes.STATE_HOUSE_DISTRICT}}):
        {{address.attributes.STATE_HOUSE_REPRESENTATIVE}}
      </div>
      <div>State Senator (District {{address.attributes.STATE_SENATE_DISTRICT}}): {{address.attributes.STATE_SENATOR}}
      </div>
    </div>
    <div class="us">
      <h4>US Elections</h4>
      <div>US House Representative (District {{address.attributes.FEDERAL_HOUSE_DISTRICT}}):
        {{address.attributes.FEDERAL_HOUSE_REPRESENTATIVE}}
      </div>
    </div>
  </div>
  <div class="geographic-coordinates">
    <h4>Geographic Coordinates</h4>
    <div>-{{address.attributes.ADR_LONGITUDE | number:'3.3-3'}}&deg;, {{address.attributes.ADR_LATITUDE |
      number:'2.3-3'}}‌&deg;, {{address.attributes.ADR_ELEVATION}} ft.
    </div>
  </div>
</div>

